<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/77cb986030.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <title>Aktualne zadania</title>
</head>
<body>
<header>
  <div class="header-img">
    <div class = "header-text">
      <h1>RenovateMateApp</h1>
      <p> tu tekst dodatkowy </p>
    </div>
    <div class = "header-bg"></div>
  </div>
</header>

<main>
  <h2>Aktualne zadania</h2>
  <form th:action="@{/actual-tasks}" method="post">
    <label for="task">Wybierz zadanie:</label>
    <select id="task" name="taskId">
      <option th:each="task : ${tasks}" th:value="${task.id}" th:text="${task.description}"></option>
    </select>
    <button type="submit">Generuj listę narzędzi</button>
  </form>
  <div th:if="${task}">
    <h3>Lista narzędzi dla zadania: <span th:text="${task.description}"></span></h3>
    <table>
      <tr>
        <th>Nazwa narzędzia</th>
      </tr>
      <tr th:each="tool : ${tools}">
        <td th:text="${tool.name}"></td>
      </tr>
    </table>
  </div>
</main>

</div>
<footer class="foot">
  <p> &copy; 2023 | RenovateMate
    <span class="icon-box">
            <a href="#"> <i class="fa-brands fa-square-facebook"></i> </a>
          </span>
  </p>
</footer>
</div>

</body>
</html>