<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/77cb986030.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">

  <title>Twoje narzędzia</title>
</head>
<body>

<header>
  <div class="header-img">
    <div class = "header-text">
      <h1>RenovateMateApp</h1>
      <p> tu tekst dodatkowy </p>
    </div>
    <div class = "header-bg"></div>
  </div>
</header>

<main>

  <div class="addtool">
    <h2>Dodaj narzędzie</h2>
    <form th:action="@{/tools}" th:object="${tool}" method="post">
      <label for="name">Nazwa:</label>
      <input type="text" id="name" th:field="*{name}" required>
      <label for="description">Opis:</label>
      <input type="text" id="description" th:field="*{description}" required>
      <button type="submit">Dodaj narzędzie </button>
    </form>
  </div>


  <div class="toolslist">
    <h2>Lista dodanych narzędzi</h2>
    <table>
      <tr>
        <th>Nazwa narzędzia</th>
        <th>opis narzędzia</th>
      </tr>
      <tr th:each="tool : ${tools}">
        <td th:text="${tool.name}"></td>
        <td th:text="${tool.description}"></td>
      </tr>
    </table>
    <a th:href="@{/home}">Wróć do menu</a>
  </div>

</main>

</div>
<footer class="foot">
  <p> &copy; 2023 | RenovateMate
    <span class="icon-box">
            <a href="#"> <i class="fa-brands fa-square-facebook"></i> </a>
    </span>
  </p>
</footer>
</div>

</body>
</html>